/* Frame Preview */
.frameDiv {
  display: inline-block;
  height: 20px;

  position: relative;
}
.frameDiv::before {
  content: attr(delay);

  position: absolute;
  display: block;
  left: 0;
  background-color: greenyellow;

  opacity: 0;
}
.frameDiv:hover::before {
  bottom: 100%;
  opacity: 1;
}

/* Move and Pan */
#viewer {
  cursor: move;
}

#viewwrap {
  overflow: hidden;
  background: #ccf;
  height: 500px;
  width: 940px;
  margin: auto;
  position: relative;
}

#viewwrap > div {
  position: absolute
}